    /* Palette - Off-black (text) #181717
    Off-white (Background) #f7efef */
    
    @import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Noto+Sans+Mono:wght@100..900&family=Poiret+One&display=swap');
    
  html, body {
    margin: 0;
    padding: 0;
    background-color: #f8f7f3; /* off-white background */
    height: 100%;
    color:#181717;
    background: linear-gradient(45deg,#f8f7f3,#9b9292, #f8f7f3);
     background-attachment: fixed;
  }
  canvas {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: block;
  }

  .home {
  position: absolute;
  inset: 2.5%; /* equal top, right, bottom, left */
  border-radius: 1em;
  border: #181717 dashed 1px;
  font-family: 'Noto Sans Mono';
  padding: 10px;
}

  .home {
  display:flex;
  justify-content: space-between;
  }

  .content h2 {
    font-family: 'Poiret One'; 
    font-size:3em;
    font-weight: 500;
  }

  .namecard {
    line-height: 0;
    padding:10px;
  }

  .namecard h1 {
    font-size: 3em;
    font-weight: 400;
  }

  #jobtitle {
    background-color: #181717;
    color:#f8f7f3;
    padding:1px 4em 1px 1em;
    font-family: 'Google Sans Code';
    font-size:0.75em;
    width:fit-content;
    font-weight: 200;
  }

  #jobtitle h3 {
        font-weight: 200;
  }

  nav ul{
    list-style:none;
    margin-left:0;
    margin-right:10px;
  }

  nav ul li {
    text-align: end;
    font-size: 2em;
    padding:0.25em 0px;
    font-family: 'Noto Sans Mono';
    font-weight: 200;
  }

  nav ul li a {
    color:#181717;
    text-decoration: none;
  }

  @media screen and (max-width:550px) {
    .home{
      flex-direction: column;
      align-items: center;
    }
    nav ul  li{
      text-align: center;
      padding:0;
    }
  }

  .about {
  margin: 2.5%;
  border-radius: 1em;
  border: #181717 dashed 1px;
  font-family: 'Noto Sans Mono';
  padding: 10px;
  margin-bottom:2.5%;
}